<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="FP_059_NAGASystems_Prod2Context"
			 connectionString="Data Source=hotelsol.cnu4yaoycjpi.us-east-1.rds.amazonaws.com;Initial Catalog=hotelsol;User ID=admin;Password=hotelsol;Connect Timeout=30;Encrypt=True;Trust Server Certificate=True;Application Intent=ReadWrite;Multi Subnet Failover=False"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>